langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain-huggingface
langchain_openai
langgraph
langchain-google-genai
langchain-google-vertexai
ipython
json-repair
pymongo
psycopg2-binary
boto3
langchain-postgres
phidata
docx2txt